.add-product {
    width: 100%;
    min-height: calc(100vh - 56px);
    display: flex;
    align-items: center;
    justify-content: center;

}

.add-product-container {
    padding:60px 0;
    width:35%;
}